* {
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    width: 90%;
    margin: 100px auto;
    
}
[class*='box']{
    box-shadow: 0 0 20px 3px rgba(0, 0, 0,  0.1);
    padding: 20px;
    border-radius: 8px;
}
.media {
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 100px;
    width: 90px;
    float: right;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ul{
    list-style: none;
    display: flex;
    box-shadow: 0 0 17px 3px rgba(0, 0, 0,  0.1);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 15px;
    margin-top: 0;
}
li{
    padding: 10px;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.box-1 > p {
    padding-left: 10px;
    
}

[class*='box'] > p {
    margin-top: -5px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #000;
}
@media only screen and (max-width: 768px) {
    .container, ul{
        display: block;
    }
}
span > a {
    padding: 8px;
    box-shadow: 0 0 17px 3px rgba(0, 0, 0,  0.1);
    border-radius: 2px;
    margin-right: 5px;
}
.bi-facebook{
    color: blue;
}
.bi-instagram{
    color: rgb(206, 31, 60);
}
.bi-browser-edge{
    color: rgb(34, 34, 127);
}
